<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <servlet>
    <servlet-name>first-servlet</servlet-name>
    <servlet-class>ru.chuvashov.course.lesson10.hw10.account.servlet.ServletGetBalance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>first-servlet</servlet-name>
    <url-pattern>/account/balance</url-pattern>
  </servlet-mapping>
</web-app>
